body{
    margin: 0;
    padding: 0;
    background: #fff;
  }


nav{
    float: right;
}

.UlHeader{
    list-style: none;
    padding-left: 20px;
    
 
}
li{
    display: inline-block;
    padding-right: 15px;
    
}

.personalIcon{
    width: 18px;
    height:18px;
}

li a {
    text-decoration: none;
    color: black;
  }

  .main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    
  }

  .google{
    position: relative;
    width: 300px;
      display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  }




input[type="text"]{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 50px;
    border: 1px solid #d5d4d4;
    outline: none;
    padding: 0 40px 0 45px;
    font-size: 16px;
    font-family: noto sans hk;
    box-shadow: 0 2px 10px -7px #000;
  }
  .searchb{
    width: 500px;
    height: 45px;
    position: absolute;
    transform: translate(-20%,50%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  input[type="text"]{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 50px;
    border: 1px solid #d5d4d4;
    outline: none;
    padding: 0 40px 0 45px;
    font-size: 16px;
    font-family: noto sans hk;
    box-shadow: 0 2px 10px -7px #000;
  }
  .searchicon{
    top: 13px;
    left: 18px;
    color: #777;
    font-size: 21px;
    z-index: 1;
    position: absolute;
  }
  .mic{
    position: absolute;
    width: 13px;
    right: -65px;
    top: 13px;
  }
  .sbutton{
    position: relative;
    top: 100px;
    text-align: center;
  }

  input[type="button"]{
    background: #ebe8e8;
    border: none;
    padding-top: 50px;
    padding: 8px 20px;
    margin: 10px;
    color: #4e4d4d;
    border-radius: 5px;
    outline: none;
  }
  input[type="button"]:hover{
    box-shadow: 0 0 2px #000;
    color: #000;
    background: #ede8e8;
  }

.lang{
    position: relative;
    top: 100px;
    text-align: center;
}


footer{
    background-color: rgba(228, 226, 226, 0.486);
width: 100%;
position: fixed;
bottom: 0;

}

hr{
    color: rgb(238, 236, 236);
}
.location{
    padding-left: 30px;
    padding-top: 10px;
    color: grey;
    font-size: 15px;
}

.contantFooter{
    display:flex;
    flex-wrap: wrap;

}

.contentRight{
float:right;
}

.contentUL{
    color: grey;
}

.contentLeft{
  float: left;
}

/* mobile

@media (min-width:767px) {
    
}

@media (min-width:768px)and(min-width:991px) {
    .UlHeader{
        /* margin: 10px; */
        /* width: calc(505-10px);
    }
}


@media (min-width:992px) {
    
}


@media (min-width:1200px) {
    
} */ 