body{
    width: 100%;
    font-size: 15px;
    font-family:arial,sans-serif ;
}
header{
    padding-top: 5px;
    margin-left: 85%;
}

.UlHeader{
    list-style: none;
    padding-left: 20px;
    
 
}
li{
    display: inline-block;
    padding-right: 15px;
    
}

.personalIcon{
    width: 18px;
    height:18px;
}

li a {
    text-decoration: none;
    color: black;
  }

.main{
    text-align: center;
    padding-top: 100px;
}
.searchBox{
    padding-top: 20px;
}
.contantSear{
    padding: auto;
    border-radius: 25px;
    height: 44px;
    color: grey;
        background: #fff;
    border: 1px solid #dfe1e5;
    display: inline-flex;
    max-width: 548px;


}
.searchIcon{
    padding-top: 15px;
    margin-left: 20px;
    margin-right:20px ;

    
}

.search{
    width: 430px;
    height: 44px;
    border: none;

}

.micIcon{
    margin-top: 12px;
    margin-left: 20px;
}

.buttons{
    padding-top: 20px;
}
.button{
    background-color: rgba(228, 226, 226, 0.486);
    border: none;
    height: 35px;
    margin-left: 10px;
}

.lang{
    padding-top: 20px;
}
footer{
    background-color: rgba(228, 226, 226, 0.486);
    position: fixed;
	bottom: 0;
    width: 100%;

}

hr{
    color: rgb(238, 236, 236);
}
.location{
    padding-left: 30px;
    padding-top: 10px;
    color: grey;
    font-size: 15px;
}

.contantFooter{
    display: inline-flex;
}

.contentRight{
    padding-right: 5%;
    margin-left: 100%;
}
.contentUL{
    color: grey;
}